:root {
    --light-purple: #AA96DA; 
    --dark-purple: #28019c;
    --mint: #C5FAD5;
    --butter: #FFFFD2;
}

body {
    background-color: var(--mint);
    color: var(--butter);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* The header, includes page title and nav menu bar */
header {
    background-color: var(--light-purple);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 50px;
    margin-left: 40px;
}

nav ul {
    list-style: none;
    display: flex;
    font-size: 30px;
    text-decoration: underline;
}

nav li {
    margin: 20px;
}

/* The Banner Picture (hero pic) and Caption, below the header */
/* .hero {
    display: flex;
} */

.hero {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/water-color.jpeg");
    background-size: cover;
    background-position: center;
}

.hero-caption{
    opacity: 0.50;
    font-size: 25px;
    font-weight: bold;
    position: relative; 
    top: 30%;
    left: 60%;
    width: 480px;
    color: var(--dark-purple);
}


.flexbox-body {
    display: flex;
    flex-direction: column;
}


/* The About Me section (Title, headshot & text) */
#about-me{
    color: var(--dark-purple);
    display: flex;
    margin-bottom: 20px;
}

.card-title {
    font-size: 30px;
    padding: 10px;
    flex: 20%;
    color: var(--dark-purple);
    margin: 10px;
    border-right: var(--dark-purple) solid 10px;
    min-width: 200px;
    display: flex;
    justify-content: right;
}

.card-content {
    display: flex;
    flex: 80%;
    margin: 10px;
    align-items: center;
}

.card-content p {
    padding: 10px;
    font-size: 20px;
}

#headshot {
    width: 200px;
}

/* The Work Section (Section Titles and featured work) */
.flexbox-work {
    display: flex;
    margin-bottom: 30px;
}

.projects {
    display: flex;
    flex: 80%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 60px 0 60px;
}

.highlighted-work {
    margin: 10px;
    width: 100%;
    flex: 1 1 100%;
}

.highlighted-work img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border: solid black 3px;
}


#project_set_2, #project_set_3{
    display: flex;
}

#image1
#image2, 
#image3, 
#image4, 
#image4 {
    display: flex;
    flex: 50%;
}

#image1:hover,
#image2:hover, 
#image3:hover, 
#image4:hover, 
#image4:hover {
    opacity: .80;
    border: solid gold 7px;
}


#image1 .image-cap {
    color: var(--light-purple);
    font-size: 40px;
    position: relative;
    bottom: 15%;
    left: 67%;
    background-color: var(--mint);
    border-radius: 3px;
    width: fit-content;
    padding: 5px;
}

#image3 .image-cap {
    color: var(--light-purple);
    font-size: 40px;
    position: relative;
    bottom: -70%;
    left: -45%;
    background-color: var(--mint);
    border-radius: 3px;
    width: fit-content;
    height: 25%;
    padding: 5px;
    text-align: right;
}

#image4 .image-cap {
    color: var(--light-purple);
    font-size: 40px;
    position: relative;
    bottom: -70%;
    left: -45%;
    background-color: var(--mint);
    border-radius: 3px;
    width: fit-content;
    height: 25%;
    padding: 5px;
    text-align: right;
}

footer {
    background-color: var(--light-purple);
    margin: auto 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}

footer h2 {
    flex: 30%;
    font-size: 50px;
}

footer ul {
    font-size: 30px;
    display: inline-block;
    margin: 10px;
    display: flex;
    padding: 10px;
}

footer li {
    margin: 20px;
    color: var(--dark-purple);
}

/* Responsive design, changes layout when screen shrinks */
@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        display: block;
    }

    .hero-caption {
        left: 25%;
    }

    .card-content {
        flex-direction: column;
    }

    #project_set_2 {
        flex-direction: column;
    }

    #project_set_3 {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    footer ul {
        display: block;
    }
}